
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vw;
    width: 100%;
}

.home-container h1 {
    font-size: 48px;
    margin-bottom: 8px;
}

.home-container span {
    margin-bottom: 28px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}

.form input {
    border: 0;
    margin-bottom: 12px;
    height:36px;
    border-radius: 5px;
    padding: 0 8px;
}

.form button {
    height: 36px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(141, 55, 227);
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

.form textarea {
    margin-bottom: 12px;
    border: 0;
    height: 90px;
    resize: none;
    border-radius: 5px;
}

.button-link {
    color: #909090;
    text-decoration: none;
    margin: 14px 0px;
    font-size: 14px;
}